# Core dependencies
transformers==4.39.3
sentence-transformers==2.6.1
langchain==0.1.13
langchain-community==0.0.28
chromadb==0.4.24
tqdm==4.66.2

# PDF parsing
pypdf==3.17.4

# Backend dependencies
torch==2.1.2
faiss-cpu==1.8.0

# Optional (for UI)
gradio==4.24.0

# Environment
python-dotenv==1.0.1
